.year{
    letter-spacing: 30px !important;
}

/* ------------ Helper Clas ------------- */
.bg-purple{
    background: #6244C5 !important;
}
.bg-yellow{
    background: #FFC448 !important;
} 
.text-yellow{
    color: #FFC448 !important;
} 
.bg-gray{
    background: #7070711c !important;
}
.text-purple{
    color: #6244C5;
}
.borders{
    border: 2px solid #6244C5 !important;
}
.fs-7{
    font-size: 12px !important;
}
.hg-5{
    height: 7px;
}
hr{
    width: 30px;
}
.box-shadow{
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(128, 128, 128, 0.307);
}
.nav-style{
    color: #6244C5;
    border-bottom: 2px solid #6244C5;
}
.bg-card{
    background-color: rgba(98, 68, 197, .9);
}
#products:hover{
    display: row !important;
}
.cursor-pointer{
    cursor: pointer;
}